@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Cormorant+SC:wght@300;400;600;700&display=swap');
:root{
    --color1: #f3c443;
    --color2: #c7502b;
    --color3: #f3c443;
}
*{
    margin: 0;
    /* font-family: 'Alfa Slab One', cursive; */
    font-family: 'Anton', sans-serif;
    /* font-family: 'Cormorant SC', serif; */
    box-sizing: content-box;
}

body{
    background-color: var(--color2);
    min-height: 100vh;
}


.header{
    position: relative;
    max-width: 100%;
}
.header h1{
    position: relative;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: .25rem;
    margin-bottom: 1rem;
}

/* DRESSES */
.header h1 span:nth-child(3){
    position: relative;
    top: -.75rem;
}

.boton-carro{
    position: absolute;
    right: 0;
    top: 0;
}

/* IR AL CARRO */
.header #irAlCarro{
    margin-right: 3vw;
    background-color: black;
    color: var(--color2);
    width: 4rem;
    padding: 1rem;
    border-radius: 1.5rem;
}

.nav-flotante{
    position: fixed;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    padding: 1rem .25rem 1rem 0;
    background-color: rgb(29, 28, 28);
    row-gap: 1rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.589);
    bottom: 35vh;
}
.nav-flotante a svg [fill]{
    fill: var(--color1);
}
.nav-flotante a svg:hover [fill]{
    animation: fill-svg 3s linear forwards;
}

@keyframes fill-svg {
    0%{
        fill: none;
    }
    100%{
        fill: #fcb900;
    }
}

.nav-flotante a svg:hover{
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: nav-icon 2.5s linear forwards;
}

@keyframes nav-icon {
    100%{
        stroke-dashoffset: 0;
    }
}
.nav-flotante::before{
    content: "";
    height: 58px;
    width: 58px;
    position: absolute;
    z-index: -1;
    right: -1.2rem;
    bottom: 5rem;
    background-color: rgb(29, 28, 28);
    border-radius: 0 100%;
    transform: rotateZ(45deg)
}
@media (max-width: 1020px){
    .sidebar-margin{
        display: block;
        width: 100%;
        height: 10vh;
        background-color: var(--color1);
    }
    .nav-flotante{
        width: 100%;
        height: 5vh;
        z-index: 2000;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: .75rem .25rem 1.5rem 0;
        background-color: rgb(29, 28, 28);
        row-gap: 0;
        border-radius: 0;
        box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.589);
        bottom: 0;
        left: 0;
        visibility:visible;
    }
    .nav-flotante::before{
        content: none;
    }
    #homeIcon{
        position: relative;
        top: -1.5rem;
        height: 3em;
        width: 3em;
        background-color: var(--color1);
        border-radius: 50%;
        padding: 1.5rem;
        border: solid 5px rgb(29, 28, 28);
    }
    #homeIcon svg [fill]{
        fill: rgb(29, 28, 28);
        stroke: rgb(29, 28, 28);
    }
}

#searchIcon:hover::before{
    content: "buscar";
    position: absolute;
    right: -5.5rem;
    top: 1.5rem;
    background-color: rgb(29, 28, 28);
    color: var(--color1);
    padding: .25rem 1rem;
    animation: text-icon-hover .25s linear forwards;
}
#homeIcon:hover::before{
    content: "inicio";
    position: absolute;
    right: -5rem;
    top: 6rem;
    background-color: rgb(29, 28, 28);
    color: var(--color1);
    padding: .25rem 1rem;
    animation: text-icon-hover .25s linear forwards;
}
#cartIcon:hover::before{
    content: "Carro de compras";
    position: absolute;
    right: -9.9rem;
    top: 10rem;
    background-color: rgb(29, 28, 28);
    color: var(--color1);
    padding: .25rem 1rem;
    animation: text-icon-hover .25s linear forwards;
}
@keyframes text-icon-hover {
    0%{
        opacity: 0;
        transform: translate(-1rem,0);
    }
    60%{
        transform: translate(.3rem,0);    
    }
    100%{
        opacity: 1;
        transform: translate(0rem,0);
    }
}
@media (max-width:1020px) {
    #searchIcon:hover::before,
    #homeIcon:hover::before,
    #cartIcon:hover::before{
        content: none   ;
        animation: none;
    }
}
.main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto{
    padding: 1rem;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 201, 146);
    margin-bottom: 4rem;
}

.producto img{
    height: 276px;
    width: 275px;
    margin-left: -2rem;
    background-color: black;
    box-shadow: 0 0 10  px 1px black;
}

.descripcion{
    height: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#precio{
    font-size: 1.5rem;
    letter-spacing: .25rem;
}
.alig-precio-opcion{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
}
.opciones{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.opciones input{
    width: 3rem;
    height: 1.5rem;
    font-size: 1.1rem;
}
.opciones label{
    font-size: 1.1rem;
}

/* AÑADIR AL CARRO */
.opciones button{
    background-color: var(--color2);
    color: rgb(211, 201, 146);
    padding: .25rem 1rem;
    margin-top: .25rem;
    font-size: 1.1rem;
}

@media (max-width: 900px) {
    .main{
        height: 100vh;
    }
    .producto img{
        margin-left: 0;
    }
    .producto{
        flex-direction: column;
        height: auto;
    }
}

footer div:nth-child(1){
    display: flex;
    column-gap: 2vw;
}

footer{
    background-color: var(--color1);
}